@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap';
html {
  /* A cada 1rem será considerado 10px */
  font-size: 62.5%;
  overflow-x: hidden; }

*, :before, :after {
  box-sizing: inherit;
  margin: 0; }

body {
  height: 100vh;
  width: 100vw;
  overflow-anchor: none;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-size: 1rem; }

p {
  margin: 0 !important; }

label, span {
  user-select: none; }

.attribution a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  color: #ffffff; }

.attribution {
  color: #ffffff;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0; }

@media (max-width: 524px) {
  .attribution {
    font-size: 1.2rem; } }

@media (max-width: 364px) {
  .attribution {
    font-size: 1.0rem; } }

.opacity-30 {
  opacity: 30%; }

.background {
  position: absolute;
  z-index: -1; }

html {
  overflow-y: hidden; }

body {
  display: flex;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.8rem !important;
  align-items: center;
  justify-content: center;
  background-color: #19a2ae; }

h1, h2, h3, h4, h5 {
  font-size: 1.8rem !important; }

hr {
  border: none;
  height: 2px;
  color: #000000;
  background-color: #000000;
  width: 100%;
  opacity: 5%;
  margin: 20px 0px; }

.background {
  width: 80%; }

.background div {
  position: absolute;
  max-width: 100%; }

.background :first-child {
  left: 0;
  top: 0; }

.background :first-child img {
  width: 400px; }

.background :last-child {
  right: 0;
  bottom: 0; }

.background :last-child img {
  width: 300px; }

.card {
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.card.profile {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card.profile .header {
  width: 100%;
  height: 100px;
  background: no-repeat center/cover url(../images/bg-pattern-card.svg); }

.card.profile span.avatar {
  width: 80px;
  height: 80px;
  border: 4px solid #ffffff;
  border-radius: 50px;
  overflow: hidden;
  transform: translateY(-40px); }

.card.profile span.avatar img {
  width: 100%;
  height: 100%; }

.card.profile .detail .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px; }

.card.profile .detail .top .principal {
  display: flex;
  flex-direction: row;
  align-items: center; }

.card.profile .detail .top .principal :last-child {
  margin-left: 10px; }

.card.profile .detail .top .principal h1, .card.profile .detail .top .principal h2 {
  font-size: 1.8rem; }

.card.profile .detail .top .location {
  margin-top: 15px !important;
  font-size: 1.6rem; }

.card.profile .detail .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.card.profile .detail .bottom div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card.profile .detail .bottom div label {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem; }

.card .header {
  height: 40%; }
