@import 'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap';

@import '../../../base.scss';

$base-font-size: 18px;
$primary-color: hsl(185, 75%, 39%);
$text-dark-color: hsl(229, 23%, 23%);
$text-grayish-dark-color: hsl(227, 10%, 46%);
$text-gray-color: hsl(0, 0%, 59%);
$background-highlight-color: #ffffff;

$link-color: $primary-color;

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $base-font-size;
}

