@charset "UTF-8";
html {
  /* A cada 1rem será considerado 10px */
  font-size: 62.5%; }

*, :before, :after {
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw;
  overflow-anchor: none;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

.attribution a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin-left: 5px; }

.attribution {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0; }
