$link-color: #000000;

html {
    /* A cada 1rem será considerado 10px */
    font-size: 62.5%;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-anchor: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-size: 1rem;
}

.attribution a {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;
    margin-left: 5px;
}

.attribution {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
}

.opacity-30 {
    opacity: 30%;
}